<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <!-- Nombre -->
  <div class="mb-3">
    <label class="form-label">Nombre del producto</label>
    <input class="form-control" formControlName="nombre" placeholder="Ingrese nombre del producto" />
    @if (productForm.get('nombre')?.hasError('nombreDuplicado')) {
      <div class="text-danger mt-1">Ya existe un producto con ese nombre.</div>
    }
  
  </div>
  <!-- Precio -->
  <div class="mb-3">
    <label class="form-label">Precio del producto</label>
    <input type="number" class="form-control" formControlName="precio" placeholder="Ingrese precio del producto"/>
    @if (productForm.get('precio')?.hasError('invalido')) {
      <div class="text-danger mt-1">Debe ingresar un precio válido y mayor a 0.</div>
    }
  </div>
  <!-- Oferta -->
  <div class="mb-3">
    <label class="form-label">Oferta (opcional)</label>
    <input class="form-control" formControlName="oferta" placeholder="en breve modificaciones" />
  </div>
  <!-- Categoría -->
  <div class="mb-3">
    <label class="form-label">Categoría</label>
    <select class="form-select" formControlName="categoriaId">
      <option value="" hidden>Seleccione una categoría</option>
      @for (cat of categorias; track cat.id) {
        <option [value]="cat.id">{{ cat.nombre }}</option>
      }
    </select>
  </div>
  <!-- Descripción -->
  <div class="mb-3">
    <label class="form-label">Descripción del producto</label>
    <textarea class="form-control" formControlName="descripcion" rows="3" placeholder="Ingrese descripcion del producto"></textarea>
  </div>
  <!-- Imagen -->
  <div class="mb-3">
    <label class="form-label">Imagen del producto</label>
    <input class="form-control" formControlName="imagenUrl" placeholder="Ingrese URL de la imagen del producto" />
    @if (productForm.get('imagenUrl')?.hasError('urlInvalida')) {
      <div class="text-danger mt-1">Debe ingresar una URL válida.</div>
    }
    
  </div>
  <!-- Sucursales -->
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <strong>Sucursales y Stock</strong>
      <button type="button" class="btn btn-primary btn-sm" (click)="agregarSucursal()"
        [disabled]="sucursalesSeleccionadas.length >= sucursales.length">
        + Agregar Sucursal
      </button>
    </div>
    <div class="card-body" formArrayName="sucursalesSeleccionadas">
      @for (sucursalForm of sucursalesSeleccionadas.controls; track $index) {
        <div [formGroupName]="$index" class="mb-3 row">
          <div class="col-md-6">
            <label class="form-label">Sucursal</label>
            <select class="form-select" formControlName="id" required>
              <option value="" disabled>Seleccione una sucursal</option>
              @for (sucursales of obtenerSucursalesDisponiblesParaSelect($index); track sucursales.id) {
                <option [value]="sucursales.id">
                  {{ sucursales.nombre }} - {{ sucursales.ciudad }}
                </option>
              }
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">Stock</label>
            <input type="number" class="form-control" formControlName="stock" />
            @if (sucursalForm.get('stock')?.hasError('stockInvalido')) {
              <div class="text-danger mt-1">El stock debe ser mayor a 0.</div>
            }
          </div>
          <div class="col-md-2 d-flex align-items-end">
            <button type="button" class="btn btn-danger w-100" (click)="removerSucursal($index)">Eliminar</button>
          </div>
        </div>
      }
    </div>
  </div>
  <!-- Mensajes -->
  @if (mensajeError) {
    <div class="alert alert-danger mt-3">{{ mensajeError }}</div>
  }
  @if (mensajeExito) {
    <div class="alert alert-success mt-3">{{ mensajeExito }}</div>
  }
  <!-- Acciones -->
  <div class="mt-4 d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="productForm.reset(); sucursalesSeleccionadas.clear(); ">
      Limpiar Formulario
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="loading || productForm.invalid">
      {{ loading ? 'Agregando...' : 'Agregar Producto' }}
    </button>
  </div>
</form>